{% extends 'base.html' %}

{% block title %}{{ tag_name }} - {{ blog_title }}{% endblock %}

{% block canonical %}
<link rel="canonical" href="{{ blog_url.rstrip('/') }}/tag/{{ tag_name }}.html" />
{% endblock %}

{% block og_title %}{{ tag_name }} - {{ blog_title }}{% endblock %}

{% block content %}
<div class="listHeader">
    <h1>#{{ tag_name }}</h1>
</div>

<div class="postsList" role="list">
    {% for issue in issues %}
    {% set slug = issue_slugs[issue.number|string] %}
    <article class="postListItem" role="listitem">
        <a class="postListLink" href="/blog/{{ slug }}.html">
            <div class="postHeader">
                <span class="postTitle">{{ issue.title }}</span>
                <time class="postDate" datetime="{{ issue.created_at.strftime('%Y-%m-%d') }}">{{ issue.created_at.strftime('%Y-%m-%d') }}</time>
            </div>
        </a>
        {% if issue.labels %}
        <div class="postTags">
            {% for label in issue.labels %}
            <a href="/tag/{{ label.name }}.html" class="tag">{{ label.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </article>
    {% endfor %}
</div>
{% endblock %}
