{% extends 'base.html' %}

{% block title %}Tags - {{ blog_title }}{% endblock %}

{% block canonical %}
<link rel="canonical" href="{{ blog_url }}tag/" />
{% endblock %}

{% block content %}
<div class="listHeader">
    <h1>Tags</h1>
</div>

<div class="tag-list">
    {% for item in tag_items %}
    <span class="tag-item">
        <a href="/tag/{{ item.name }}.html" class="tag">{{ item.name }}</a>
        <span class="tag-count">{{ item.count }}</span>
    </span>
    {% endfor %}
</div>
{% endblock %}
