{% extends 'base.html' %}

{% block title %}{{ issue.title }} - {{ blog_title }}{% endblock %}

{% block canonical %}
<link rel="canonical" href="{{ blog_url }}contents/blog/{{ issue.number }}.html" />
{% endblock %}

{% block content %}
<article class="post full-post">
    <aside class="toc">
        <h4>目录</h4>
        <nav id="toc"></nav>
    </aside>
    <main>
        <h1 class="post-title">{{ issue.title }}</h1>
        <div class="post-meta">发布于 {{ issue.created_at.strftime('%Y-%m-%d') }}
            {% if issue.labels %}
            | 标签: {% for label in issue.labels %}<a href="/contents/tag/{{ label.name }}.html" class="tag">{{ label.name
                }}</a>{% endfor %}
            {% endif %}
        </div>

        <div class="post-content">{{ html_body|safe }}</div>

        <div id="comments">
            <script src="https://utteranc.es/client.js" repo="{{ github_name }}/{{ github_name }}.github.io"
                issue-number="{{ issue.number }}" theme="github-light" crossorigin="anonymous" async></script>
        </div>
    </main>
</article>
{% endblock %}