<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {# 根域名 #}
  <url>
    <loc>{{ base_url }}/</loc>
    <lastmod>{{ now }}</lastmod>
    <priority>1.0</priority>
  </url>

  {# 博客首页 #}
  <url>
    <loc>{{ base_url }}/blog/</loc>
    <lastmod>{{ now }}</lastmod>
    <priority>0.8</priority>
  </url>

  {# 博客文章 #}
  {% for item in blog_items %}
  <url>
    <loc>{{ base_url }}/{{ blog_dir }}/{{ item.slug }}.html</loc>
    <lastmod>{{ item.lastmod }}</lastmod>
  </url>
  {% endfor %}

  {# 标签页 #}
  {% for tag in tags %}
  <url>
    <loc>{{ base_url }}/tag/{{ tag }}.html</loc>
    <lastmod>{{ now }}</lastmod>
  </url>
  {% endfor %}
</urlset>
